/* //App.css */
.UserCard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
  }
    .brand-name {
      margin: 0;
      font-size: 1.5rem;
    }

    .btn-get-users {
      background-color: #fff;
      color: #333;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.2s;
    }

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
  }
    .card {
      width: 200px;
      height: 300px;
      margin: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
    }

